In [182]:
import pandas as pd

In [183]:
#load data
test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')

In [184]:
test_data.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,1200000,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House
1,1200001,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment
2,1200002,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo
3,1200003,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House
4,1200004,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House

In [185]:
train_data.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [186]:
#check columns
train_data.columns

Index(['id', 'Age', 'Gender', 'Annual Income', 'Marital Status',
       'Number of Dependents', 'Education Level', 'Occupation', 'Health Score',
       'Location', 'Policy Type', 'Previous Claims', 'Vehicle Age',
       'Credit Score', 'Insurance Duration', 'Policy Start Date',
       'Customer Feedback', 'Smoking Status', 'Exercise Frequency',
       'Property Type', 'Premium Amount'],
      dtype='object')

In [187]:
test_data.columns

Index(['id', 'Age', 'Gender', 'Annual Income', 'Marital Status',
       'Number of Dependents', 'Education Level', 'Occupation', 'Health Score',
       'Location', 'Policy Type', 'Previous Claims', 'Vehicle Age',
       'Credit Score', 'Insurance Duration', 'Policy Start Date',
       'Customer Feedback', 'Smoking Status', 'Exercise Frequency',
       'Property Type'],
      dtype='object')

In [188]:
# target --> Premium Amount

In [189]:
# merge data for uniform processing

In [190]:
#save ids column in test data for submission

In [191]:
test_ids = test_data['id']
test_data['premium'] = None #bc thats what we're predicting
#merge them
merged_data = pd.concat([train_data, test_data], ignore_index=True)

In [192]:
missing = merged_data.isnull().sum()
missing = missing[missing > 0].sort_values(ascending=False)

print("Missing values per column:\n", missing)

Missing values per column:
 premium                 2000000
Premium Amount           800000
Previous Claims          606831
Occupation               597200
Credit Score             229333
Number of Dependents     182802
Customer Feedback        130100
Health Score             123525
Annual Income             74809
Age                       31194
Marital Status            30865
Vehicle Age                   9
Insurance Duration            3
dtype: int64

In [193]:
numeric_cols = merged_data.select_dtypes(include='number').columns
for col in numeric_cols:
    if merged_data[col].isnull().sum() > 0:
        # fill the numeric values with mean
        merged_data[col] = merged_data[col].fillna(merged_data[col].mean())

In [194]:
obj_cols = merged_data.select_dtypes(include='object').columns
for col in obj_cols:
    if merged_data[col].isnull().sum() > 0:
        # get the most frequent item
        modes = merged_data[col].mode()
        # fill the missing value with the first most frequent value -- modes[0]
        if not modes.empty:
            mode_val = modes[0]
            merged_data[col] = merged_data[col].fillna(mode_val)
        else:
            # if the entire column is missing, fill in unknown
            merged_data[col] = merged_data[col].fillna("Unknown")

In [209]:
#check
print("Remaining missing values:", merged_data.isnull().sum().sum())

Remaining missing values: 0